<!DOCTYPE html>
<html>
<head>

	<title>
		JOIN OR HOST
	</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	{% comment %} <script type="text/javascript" src="static/bootstrap.js"></script> {% endcomment %}
</head>
<body>
	<header>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-dark">
        	<div class="container">
        		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        			<span class="navbar-toggler-icon"></span>
        		</button>
        		
        	  	<a class="navbar-brand mr-auto ml-n5  " href="#" ><img src="/static/img/logo.jpg" id="logo" width="50px">cu esportz</a>
              	
              <div class="collapse navbar-collapse" id="Navbar">
              	

              <ul class="navbar-nav ml-auto ">
              	
              	<li class="nav-item pl-2  active" ><a class="nav-link" href="#" >Home</a></li>
                <li class="nav-item pl-2  "><a class="nav-link" href="#">Earn</a></li>
                <li class="nav-item pl-2 "><a  class="nav-link" href="wallet">Wallet</a></li>
                <li class="nav-item  pl-2 "><a class="nav-link"  href="profile.html">Profile</a></li>
                <li class="nav-item pl-2 "><a  class="nav-link" href="#"><img src="/static/img/logo.jpg" width="50px"></a></li>
              </ul>
          
              </div> 

        	</div>
        	

        </nav>


	
		



		
	</header>

	<main>

		   <div class="container margin-top">
                <div class="row">
                  <div class="col-1">
                     <ul class="list-unstyled ml-n4">
			
                        <li class=""><a href="#"><img src="/static/img/call_of_duty.jpg" width="120px" height="120px"></a></li>
                         <br>
                        <li class=""><a href="#"><img src="/static/img/pubg.webp" width="120px" height="120px"></a></li>
                         <br>
                        <li class=""><a href=""><img src="/static/img/minecraft.jpg" width="120px" height="120px"></a></li>   
                         <br>
                        <li class=""><a href="#"><img src="/static/img/fortnite.jpg" width="120px" height="120px"></li>
                         <br>
                        <li class=""> <a href="#"><img src="/static/img/pokemongo.jpg" width="120px" height="120px"></a></li>
                        <br>
                        <li><a href="#"><img src="/static/img/clash.jpg" width="120px"></a></li>

		             </ul>
                  </div>


		          <div class="col-10 offset-1 border">
                     <div class="container">
		                <div class="row mt-2 ">
		  	               <div class="col-4 text-align-center h5 heading ">
		  	                    <a class=" p-2" href="#">	conducted</a>
		  	               </div>
		  	               <div class="col-4 text-align-center h5 activetab heading ">
		  	                  	<a class="p-2 " href="#">ongoing</a>
		  	               </div>
		  	               <div class="col-4 text-align-center h5 heading ">
		  	                 	<a class=" p-2" href="#">upcoming</a>
		  	               </div>
		                </div>
		             </div>

          
		             <div class="container border ">
		            	 <div class="row">

		              	 	<div class="col-1">logo</div>
		            	 	<div class="col-9 text-align-center font-weight-bold">Title of tournament</div>
		  	            	<div class="col-2">0/100</div>
		            	 </div>
		  	             <div class="row">
		  	             	<div class="col-3"><img class=" border rounded-circle border-10" src="/static/img/ruppee.png " width="80px" height="80px"></div>
		            	 	<div class="col-3"><img class="border rounded-circle"src="/static/img/trophee.jpg" width="80px" height="80px"></div>
		  	            	<div class="col-3"><img  class="border rounded-circle" src="/static/img/dollar.jpg" height="80x" width="80px"></div>
		  	            	<div class="col-3"><img class="border rounded-circle" src="/static/img/arrow.png"  height="80px" width="80px"></div> 
		  	             </div>
		  	             <div class="row"> 
		             	 	<div class="col-2 offset-10">  <a href="#">see more</a> </div>

		  	 	
		            	 </div>
		             </div>
                          <br>

	        	  <div class="container border">
		            	 <div class="row">
		  	            	<div class="col-1">logo</div>
		  	            	<div class="col-9 text-align-center font-weight-bold">Title of tournament</div>
		  	            	<div class="col-2">0/100</div>
		            	 </div>
		            	 <div class="row">
		  	             	<div class="col-3"><img class="border rounded-circle" height="80px" src="/static/img/ruppee.png " width="80px"></div>
		  	             	<div class="col-3"><img class="border rounded-circle" height="80px" src="/static/img/trophee.jpg" width="80px"></div>
		  	            	<div class="col-3"><img class="border rounded-circle" height="80px" src="/static/img/dollar.jpg" width="80px"></div>
		  	            	<div class="col-3"><img class="border rounded-circle" height="80px" src="/static/img/arrow.png" width="100px"></div> 
		  	             </div>
		  	     <div class="row">
		  	 	    <div class="col-2 offset-10"> <a href="#"> see more</a> </div>

		  	 	
		         </div>
		     </div>
              
           <br>

         <div class="container border  ">
		  	 <div class="row">
		  	 	<div class="col-1">logo</div>
		  	 	<div class="col-9 text-align-center font-weight-bold">Title of tournament</div>
		  	 	<div class="col-2"><span>0/100</span></div>
		  	 </div>
		  	 <div class="row">
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/ruppee.png " height="80px" width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/trophee.jpg" height="80px" width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/dollar.jpg" height="80px" width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/arrow.png" height="80px" width="80px"></div> 
		  	 </div>
		  	 <div class="row">
		  	 	<div class="col-2 offset-10"> <a href="#"> see more </a></div>

		  	 	
		  	 </div>
		  </div>
               
               <br>


           <div class="container border ">
		  	 <div class="row">
		  	 	<div class="col-1">logo</div>
		  	 	<div class="col-9 text-align-center font-weight-bold">Title of tournament</div>
		  	 	<div class="col-2">0/100</div>
		  	 </div>
		  	 <div class="row">
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/ruppee.png" height="80px"  width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/trophee.jpg" height="80px" width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/dollar.jpg" height="80px" width="80px"></div>
		  	 	<div class="col-3"><img class="border rounded-circle" src="/static/img/arrow.png" height="80px" width="80px"></div> 
		  	 </div>
		  	 <div class="row">
		  	 	<div class="col-2 offset-10">  <a href="#">see more</a> </div>

		  	 	
		  	 </div>
		  </div>

		  <br>

          <div class="container border ">
		            	 <div class="row">

		              	 	<div class="col-1">logo</div>
		            	 	<div class="col-9 text-align-center font-weight-bold">Title of tournament</div>
		  	            	<div class="col-2">0/100</div>
		            	 </div>
		  	             <div class="row">
		  	             	<div class="col-3"><img class="border rounded-circle border-10" src="/static/img/ruppee.png " width="80px" height="80px"></div>
		            	 	<div class="col-3"><img class="border rounded-circle"src="/static/img/trophee.jpg" width="80px" height="80px"></div>
		  	            	<div class="col-3"><img  class="border rounded-circle" src="/static/img/dollar.jpg" height="80x" width="80px"></div>
		  	            	<div class="col-3"><img class="border rounded-circle" src="/static/img/arrow.png"  height="80px" width="80px"></div> 
		  	             </div>
		  	             <div class="row"> 
		             	 	<div class="col-2 offset-10">  <a href="#">see more</a> </div>

		  	 	
		            	 </div>
		             </div>


         </div>
     </div>
 </div>

	</main>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>