<!DOCTYPE html>
<html>

<head>
  <title>
    TRACK
  </title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet_track.css">
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand mr-auto ml-n5  " href="#"><img src="/static/img/logo.jpg" id="logo" width="50px">cu esportz</a>

        <div class="collapse navbar-collapse" id="Navbar">


          <ul class="navbar-nav ml-auto ">

            <li class="nav-item pl-2  "><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item pl-2  "><a class="nav-link" href="#">Earn</a></li>
            <li class="nav-item pl-2 "><a class="nav-link" href="#">Wallet</a></li>
            <li class="nav-item  pl-2 "><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item pl-2 "><a class="nav-link" href="#"><img src="/static/img/logo.jpg" width="50px"></a></li>
          </ul>

        </div>

      </div>


    </nav>





    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-n4">
        <li class="breadcrumb-item"><a href="#">Profile</a></li>
        <li class="breadcrumb-item"><a href="#">record</a></li>
        <li class="breadcrumb-item active" aria-current="page">track your record</li>
      </ol>
    </nav>





  </header>

  <main>

    <div class="container mt-3 mb-5">
      <!-- buttons -->
        <div class="row">

          <div class="col-4 offset-4"> <button type="button" class="btn btn-outline-secondary btn-block">New
              tournament</button></div>

        </div>

        <div class=" ">

          <table class="ml-nn1 ml-auto mt-4 table  table-bordered table-dark table-hover text-align-center">
            <thead>


              <tr>
                <th scope="col-1">Date</th>
                <th scope="col-1">Time</th>
                <th scope="col-3">Name_Of_Tournament</th>
                <th scope="col-1">Map</th>
                <th scope="col-1">Team</th>
                <th scope="col-2">Perspective</th>
                <th scope="col-1">Price-Pool</th>
                <th scope="col-1">Amount_Per_Kill</th>
                <th scope="col-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="">21/02/2021</td>
                <td>7:30PM</td>
                <td>Suicide Squad</td>
                <td>TDM</td>
                <td>Solo</td>
                <td>FPP</td>
                <td>20,000</td>
                <td>100</td>
                <td><button class="btn-sm p-1 btn-outline buttonn round " style="margin-right: 10px;">Update</button>
                
                <button class="btn-sm p-1 buttonn cancel round ">Cancel</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
    </div>

  </main>

</body>

</html>