  .text-align-center
  {
  	text-align: center;
  }

.heading
{
	color: #000000;
	padding: 10px;
	margin: 0;

}

  .heading:hover
  {
  	background-color: #000000;
  	color: #ffffff;
    padding: 10px;
    margin: 0;

  }
  
  .activetab
  {
  	background-color:#D3D3D3 ;
  }


  .border-10{
border-style: solid;
 border-width: 20px;
}
body
{
	padding-top: 90px;
}

.tc
{
	color: #000000;
}
.main
{
	background: #D3D3D3D3;
	width: 500px;
	padding: 20px;
	border-radius: 25px;
	margin: auto;
	box-shadow: 10px 10px 10px #000000;
	padding-bottom: 40px;
	margin-top: 30px;
}
.round
{
	border-radius: 10px;
}
.buttonn
{   border: 5px;
	border-radius: 5px;
	border-color: black;
}
.buttonn:hover
{
	background:#A9A9A9 ;
	color: whitesmoke;
	
}
.cancel:hover{
   background: tomato;
}

/* .submitt:hover
{
	background: #A9A9A9; 
	color: black  ;
	transform: scale(1.2);
	text-align: center;
	margin: auto;
} */
 /* #myDIV { 
            display: none; 
            background: green; 
            height: 100px; 
            width: 200px; 
            margin: 0 auto; 
			color: white; 
} */
